<div class="container mt-2">
  <div class="form-group mt-2">
    <label for="textTitle">Book Title</label>
    <input
      type="text"
      class="form-control"
      id="textTitle"
      placeholder="Enter book title"
      [(ngModel)]="newBook.title"
    />
  </div>
  <div class="form-group mt-2">
    <label for="txtAuthor">Book Author</label>
    <input
      type="text"
      class="form-control"
      id="txtAuthor"
      placeholder="Enter book author"
      [(ngModel)]="newBook.author"
    />
  </div>
  <div class="form-group mt-2">
    <label for="txtBookCost">Book Author</label>
    <input
      type="number"
      class="form-control"
      id="txtBookCost"
      placeholder="Enter book cost"
      [(ngModel)]="newBook.cost"
    />
  </div>

  <button type="button" (click)="saveBook()" class="btn btn-primary mt-2">
    Create
  </button>
</div>
